<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.qualina">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/cat_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/cat_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Qualina">
        <activity android:name=".Closing"></activity>
        <activity android:name=".Summary" />
        <activity android:name=".PostlabResult" />
        <activity android:name=".AnswerResult" />
        <activity android:name=".GuessCation" />
        <activity android:name=".NoNotable" />
        <activity android:name=".CheckResultActivity" />
        <activity android:name=".LoadingScreen" />
        <activity android:name=".Decision" />
        <activity android:name=".UnknownSampleCode" />
        <activity android:name=".GameIntro" />
        <activity android:name=".ExerciseIntro" />
        <activity android:name=".AboutGame" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>